// src/styles/_mixins.scss
// Place project-wide mixins here (e.g., fluid type, visually-hidden, etc.).
@mixin visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
  border: 0;
  padding: 0;
  margin: -1px;
}
@mixin fluid-type($min-font-size, $max-font-size, $min-vw, $max-vw) {
  font-size: calc(
    #{$min-font-size} + (#{$max-font-size} - #{$min-font-size}) * ((100vw - #{$min-vw}) /
          (#{$max-vw} - #{$min-vw}))
  );
}
@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}
