// src/pages/styles/ContactPage.scss
/* .contactPage {
  // vertical rhythm between sections
  & > * + * {
    margin-top: var(--s-24, 24px);
  }

  @media (min-width: 1024px) {
    & > * + * {
      margin-top: var(--s-40, 40px);
    }
  }
} */
